<!DOCTYPE html>
<html>
<head>
	<title>Perfil de [Tripa Seca]</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	<header>
		<img src="[link para a imagem]" alt="[Pendente]">
		<h1>[Tripa Seca]</h1>
	</header>

	<main>
		<section>
			<h2>Produto</h2>
			<p>Solução de Gerenciamento de Ativos Corporativos [6/8 parcelas pagas]</p>
		</section>

		<section>
			<h2>Dados para confirmação</h2>
			<ul>
				<li>[CPF:72224806175]</li>
				<li>[Tel.:785-887-7474]</li>
				<li>[Data de nascimento October 15, 1940]</li>
				</ul>
		</section>

		<section>
			<h2>Mais informações</h2>
			<ul>
				<li>[xxxxxxxx]</li>
				<li>[xxxxxxxx]</li>
				<li>[xxxxxxxx]</li>
			</ul>
</body>
</html>
